# Week 3 Assignment/Part 2

Using the **Geocoder** package or [the csv file](https://cocl.us/Geospatial_data) to add geo coordinates to the dataframe, outcome should look like [this photo](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/HZ3jNHNOEeiMwApe4i-fLg_f44f0f10ccfaf42fcbdba9813364e173_Screen-Shot-2018-06-18-at-7.18.16-PM.png?expiry=1539388800000&hmac=jGZIF8OW-wLgZ0vj5iIsdgffzGUCrNgC5DfSMW1n_mo)
 
 2 columns: **Latitude** and **Longiture**

# !pip3 install geocoder
import pandas as pd
import geocoder

Load the dataframe from file.

In [27]:
neigh_df = pd.read_pickle('3.1.pkl')
neigh_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Get the coordinates.

Load from CSV file.

In [29]:
latlng_df = pd.read_csv('Geospatial_Coordinates.csv')
latlng_df.rename(columns = {'Postal Code': 'PostalCode'}, inplace = True)
latlng_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Merge the current DF with geo-coordinates DF.

In [30]:
neigh_merge_df = pd.merge(neigh_df, latlng_df, on='PostalCode', how='left')
neigh_merge_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Again, export to file the dataframe

In [ ]:
neigh_merge_df.to_pickle('3.2.pkl')